apiVersion: v1
kind: Service
metadata:
  name: {{ include "crew-studio.fullname" . }}-frontend
  labels:
    {{- include "crew-studio.frontend.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "crew-studio.frontend.selectorLabels" . | nindent 4 }}
